// MARGINS
// -------------------------
.clearmargin {margin:0;}
.margin5  {margin:5px;}
.margin10 {margin:10px;}
.margin15 {margin:15px;} 
.margin20 {margin:20px;}
.margin30 {margin:30px;}
.margin40 {margin:40px;} 
.margin50 {margin:50px;} 
.margin60 {margin:60px;} 
.margin70 {margin:70px;} 
.margin80 {margin:80px;} 
.margin90 {margin:90px;} 
.margin100{margin:100px;}

.margintop0  {margin-top:0px;}
.margintop5  {margin-top:5px;}
.margintop10 {margin-top:10px;}
.margintop15 {margin-top:15px;} 
.margintop20 {margin-top:20px;}
.margintop30 {margin-top:30px;}
.margintop40 {margin-top:40px;} 
.margintop50 {margin-top:50px;} 
.margintop60 {margin-top:60px;} 
.margintop70 {margin-top:70px;} 
.margintop80 {margin-top:80px;} 
.margintop90 {margin-top:90px;} 
.margintop100{margin-top:100px;}
.margintop150{margin-top:150px;}

.margintop-5  {margin-top:-5px;}
.margintop-10 {margin-top:-10px;}
.margintop-20 {margin-top:-20px;}
.margintop-30 {margin-top:-30px;}

.marginbottom0  {margin-bottom:0px;} 
.marginbottom5  {margin-bottom:5px;}
.marginbottom10 {margin-bottom:10px;}
.marginbottom15 {margin-bottom:15px;} 
.marginbottom20 {margin-bottom:20px;}
.marginbottom30 {margin-bottom:30px;}
.marginbottom40 {margin-bottom:40px;} 
.marginbottom50 {margin-bottom:50px;} 
.marginbottom60 {margin-bottom:60px;} 
.marginbottom70 {margin-bottom:70px;} 
.marginbottom80 {margin-bottom:80px;} 
.marginbottom90 {margin-bottom:90px;} 
.marginbottom100{margin-bottom:100px;}
.marginbottom150{margin-bottom:150px;}

.marginbottom-40 {
    margin-bottom: -40px;
}

.marginleft0  {margin-left:0px;}
.marginleft5  {margin-left:5px;}
.marginleft10 {margin-left:10px;}
.marginleft15 {margin-left:15px;} 
.marginleft20 {margin-left:20px;}
.marginleft30 {margin-left:30px;}
.marginleft40 {margin-left:40px;} 
.marginleft50 {margin-left:50px;} 
.marginleft60 {margin-left:60px;} 
.marginleft70 {margin-left:70px;} 
.marginleft80 {margin-left:80px;} 
.marginleft90 {margin-left:90px;} 
.marginleft100{margin-left:100px;}
.marginleft150{margin-left:150px;}

.marginright0  {margin-right:0px;}
.marginright5  {margin-right:5px;}
.marginright10 {margin-right:10px;}
.marginright15 {margin-right:15px;} 
.marginright20 {margin-right:20px;}
.marginright30 {margin-right:30px;}
.marginright40 {margin-right:40px;} 
.marginright50 {margin-right:50px;} 
.marginright60 {margin-right:60px;} 
.marginright70 {margin-right:70px;} 
.marginright80 {margin-right:80px;} 
.marginright90 {margin-right:90px;} 
.marginright100{margin-right:100px;}
.marginright150{margin-right:150px;}


// PADDINGS
// -------------------------
.clearpadding{padding:0;}
.padding5  {padding:5px;}
.padding10 {padding:10px;}
.padding15 {padding:15px;} 
.padding20 {padding:20px;}
.padding30 {padding:30px;}
.padding40 {padding:40px;} 
.padding50 {padding:50px;} 
.padding60 {padding:60px;} 
.padding70 {padding:70px;} 
.padding80 {padding:80px;} 
.padding90 {padding:90px;} 
.padding100{padding:100px;}

.paddingtop0  {padding-top:0px;}
.paddingtop5  {padding-top:5px;}
.paddingtop10 {padding-top:10px;}
.paddingtop15 {padding-top:15px;} 
.paddingtop20 {padding-top:20px;}
.paddingtop30 {padding-top:30px;}
.paddingtop40 {padding-top:40px;} 
.paddingtop50 {padding-top:50px;} 
.paddingtop60 {padding-top:60px;}
.paddingtop70{padding-top:70px;} 
.paddingtop80 {padding-top:80px;} 
.paddingtop90{padding-top:90px;}
.paddingtop100{padding-top:100px;}
.paddingtop150{padding-top:150px;}

.paddingbottom0  {padding-bottom:0px;}
.paddingbottom5  {padding-bottom:5px;}
.paddingbottom10 {padding-bottom:10px;}
.paddingbottom15 {padding-bottom:15px;} 
.paddingbottom20 {padding-bottom:20px;}
.paddingbottom30 {padding-bottom:30px;}
.paddingbottom40 {padding-bottom:40px;} 
.paddingbottom50 {padding-bottom:50px;} 
.paddingbottom60 {padding-bottom:60px;}
.paddingbottom70{padding-bottom:70px;} 
.paddingbottom80 {padding-bottom:80px;} 
.paddingbottom90{padding-bottom:90px;}
.paddingbottom100{padding-bottom:100px;}
.paddingbottom150{padding-bottom:150px;}

.paddingleft0  {padding-left:0px;}
.paddingleft5  {padding-left:5px;}
.paddingleft10 {padding-left:10px;}
.paddingleft15 {padding-left:15px;} 
.paddingleft20 {padding-left:20px;}
.paddingleft30 {padding-left:30px;}
.paddingleft40 {padding-left:40px;} 
.paddingleft50 {padding-left:50px;} 
.paddingleft60 {padding-left:60px;}
.paddingleft70{padding-left:70px;} 
.paddingleft80 {padding-left:80px;} 
.paddingleft90{padding-left:90px;}
.paddingleft100{padding-left:100px;}
.paddingleft150{padding-left:150px;}

.paddingright0  {padding-right:0px;}
.paddingright5  {padding-right:5px;}
.paddingright10 {padding-right:10px;}
.paddingright15 {padding-right:15px;} 
.paddingright20 {padding-right:20px;}
.paddingright30 {padding-right:30px;}
.paddingright40 {padding-right:40px;} 
.paddingright50 {padding-right:50px;} 
.paddingright60 {padding-right:60px;}
.paddingright70{padding-right:70px;} 
.paddingright80 {padding-right:80px;} 
.paddingright90{padding-right:90px;}
.paddingright100{padding-right:100px;}
.paddingright150{padding-right:150px;}


// POSITION
// ----------------------------------------

.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
.fixed{
  position: fixed;
}
.center-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.none {display: none;}
.inline-block{
  display: inline-block;
}
.flex{
	display: flex;
}


.clearfix{
	clear: both;
}

.o-hidden{
    overflow: hidden;
}

.pull-right-left{
    float: right;
    @media(max-width: 767px){
        float: left;
        clear: both;
    }
}