//
// Typography
// --------------------------------------------------

// Font =======================================================================

$web-font-path: "/fonts/Archer" !default;
$web-font-name: "Archer";
@import url($web-font-path);


@font-face {
    font-family: 'ArcherMd';
    src: url('../fonts/Archer/Archer-Medium-Pro.ttf');
    src: url('../fonts/Archer/Archer-Medium-Pro.otf');
    src: url('../fonts/Archer/Archer-Medium-Pro.eot');
    src: url('../fonts/Archer/Archer-Medium-Pro.svg');
    src: url('../fonts/Archer/Archer-Medium-Pro.woff');
    src: url('../fonts/Archer/Archer-Medium-Pro.woff2');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'ArcherBk';
    src: url('../fonts/Archer/Archer-Book-Pro.ttf');
    src: url('../fonts/Archer/Archer-Book-Pro.otf');
    src: url('../fonts/Archer/Archer-Book-Pro.eot');
    src: url('../fonts/Archer/Archer-Book-Pro.svg');
    src: url('../fonts/Archer/Archer-Book-Pro.woff');
    src: url('../fonts/Archer/Archer-Book-Pro.woff2');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'ArcherSmBd';
    src: url('../fonts/Archer/Archer-Semibold-Pro.ttf');
    src: url('../fonts/Archer/Archer-Semibold-Pro.otf');
    src: url('../fonts/Archer/Archer-Semibold-Pro.eot');
    src: url('../fonts/Archer/Archer-Semibold-Pro.svg');
    src: url('../fonts/Archer/Archer-Semibold-Pro.woff');
    src: url('../fonts/Archer/Archer-Semibold-Pro.woff2');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'ArcherBd';
    src: url('../fonts/Archer/Archer-Bold-Pro.ttf');
    src: url('../fonts/Archer/Archer-Bold-Pro.otf');
    src: url('../fonts/Archer/Archer-Bold-Pro.eot');
    src: url('../fonts/Archer/Archer-Bold-Pro.svg');
    src: url('../fonts/Archer/Archer-Bold-Pro.woff');
    src: url('../fonts/Archer/Archer-Bold-Pro.woff2');
    font-weight: normal;
    font-style: normal;
}

.archerMd {
    font-family: 'ArcherMd', "ff-ernestine-pro", "Times New Roman", Times, serif;
}

.archerBk {
    font-family: 'ArcherBk', "ff-ernestine-pro", "Times New Roman", Times, serif;
}

.archerSmBd {
    font-family: 'ArcherSmBd', "ff-ernestine-pro", "Times New Roman", Times, serif;
}

.archerBd {
    font-family: 'ArcherBd', "ff-ernestine-pro", "Times New Roman", Times, serif;
}

.brandonLt{
  font-family: "brandon-grotesque",sans-serif;
  font-weight: 300;
}

.brandon{
  font-family: "brandon-grotesque",sans-serif;
  font-weight: 400;
}

.brandonMd{
  font-family: "brandon-grotesque",sans-serif;
  font-weight: 500;
}

.brandonBd{
  font-family: "brandon-grotesque",sans-serif;
  font-weight: 700;
}

// Type =======================================================================

a {
  @include transition(all 0.4s);

  &:hover,
  &:active,
  &:focus,
  &:active:hover {
    text-decoration:none;
  }

}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6{
  text-transform: $heading-text-transform;
  letter-spacing: $heading-letter-spacing;
  i {
    font-size: 70%;
  }
  small, .small {
    color: lighten($gray-light, 10%);
    font-weight: 300;
  }
}

.#{$web-font-name}100 {
  font-family: $font-family-sans-serif;
  font-weight: 100;
}

.#{$web-font-name}300 {
  font-family: $font-family-sans-serif;
  font-weight: 300;
}
.#{$web-font-name}400 {
  font-family: $font-family-sans-serif;
  font-weight: 400;
}
.#{$web-font-name}500 {
  font-family: $font-family-sans-serif;
  font-weight: 500;
}
.#{$web-font-name}700 {
  font-family: $font-family-sans-serif;
  font-weight: 700;
}


// FONT SIZES
// --------------------------------------------
.font72 {font-size:72px;line-height: 1.1;}
.font60 {font-size:60px;line-height: 1.1;}
.font48 {font-size:48px;line-height: 1.1;}
.font42 {font-size:42px;line-height: 1.1;}
.font36 {font-size:36px;line-height: 1.2;}
.font32 {font-size:32px;line-height: 1.3;}
.font28 {font-size:28px;line-height: 1.3;}
.font26 {font-size:26px;line-height: 1.3;}
.font24 {font-size:24px;line-height: 1.3;}
.font20 {font-size:20px;line-height: 1.3;}
.font18 {font-size:18px;}
.font16 {font-size:16px;}
.font15 {font-size:15px;}
.font14 {font-size:14px;}
.font13 {font-size:13px;}
.font12 {font-size:12px;}
.font11 {font-size:11px;}
.font10 {font-size:10px;}
.font9  {font-size:9px;}

.subtitle {
  font-weight: 700;
  font-size: 1.2em;
  margin-top: 20px;
}

mark {
  background-color: $brand-primary;
  color: $body-bg;
  padding: .15em .3em;
}
blockquote {
  margin-top: 20px;
  margin-bottom: 20px;
}

// Lists
// --------------------------------------------------

.list-gray {color: #AFAFAF;}
.list-gray span {color: $text-color;}




// Code
// --------------------------------------------------

pre {
  border: 0;
  background-color: lighter($gray-lighter, 10%);
  color: $gray;
  padding: 15px 18px;
}
kbd {
  font-size: 85%;
}


//
// Tables
// --------------------------------------------------

@include table-row-variant('primary', $brand-primary);

.table {
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        &.primary,
        &.success,
        &.info,
        &.warning,
        &.danger {
          color: $body-bg;
          font-weight: 400;
        }
      }
      &.primary,
      &.success,
      &.info,
      &.warning,
      &.danger {
        > th,
        > td {
          color: $body-bg;
          font-weight: 400;
          border-color: $body-bg;
        }
      }
    }
  }
  > thead > tr > th {
    border-bottom: none;
    font-weight: 400;
    font-size: 0.9em;
  }
  > tbody > tr > th,
  > tbody > tr > td {
    font-weight: 300;
  }
  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 0;
      }
    }
  }
  // Account for multiple tbody instances
  > tbody + tbody {
    border-top: 2px solid $table-border-color;
  }

}

.table-bordered {
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
      }
      &.primary,
      &.success,
      &.info,
      &.warning,
      &.danger {
        > th,
        > td {
          &:first-child {
            border-left-color: $table-border-color;
          }
          &:last-child {
            border-right-color: $table-border-color;
          }
        }
      }
    }
  }
}

.truncate{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.text-right-left{
  text-align: right;
  @media (max-width: 767px) {
    text-align: left;
  }
}