@model preguntados_ppodgaiz.Models.ViewModels.Filtro.SearcherViewModel
@{
    ViewBag.Title = "Preguntados";
}

<div class="page-layout carded full-width single-scroll">
    <div class="top-bg bg-deep-purple-100 "></div>
    <!-- CONTENT -->
    <div class="page-content-wrapper">
        <!-- HEADER -->
        <div class="page-header light-fg row no-gutters align-items-center justify-content-between">
            <!-- APP TITLE -->
            <div class="col-12 col-sm">
                <div class="logo row no-gutters justify-content-center align-items-start justify-content-sm-start">
                    <div class="logo-text">
                        <div class="h4">Preguntados</div>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-icon">
                <i class="icon icon-magnify"></i>
            </button>
        </div>
        <!-- / HEADER -->
        <div class="page-content-card p-10"  style="background-image: url('../../Content/Images/question3.jpg');background-repeat:round;background-attachment: fixed; background-position: center; ">
            <div class="form-row mt-2">
                <p style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size:14vw;">Bienvenido</p>
            </div>
        </div>
    </div>
</div>
<script>
	
</script>